.sidebar {
  background-color: rgb(227, 227, 227);
  width: 20%;
  height: 100%;
}

.sidebar .notesName {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 100%;
}

.notesName .allNotesDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.notesName .notesDisplay {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.notesName .trashIcon {
  cursor: pointer;
}

.sidebar .trash {
  cursor: pointer;
  font-weight: 600;
}
